@font-face {
  font-family: 'Manrope';
  src: url('../font/Manrope-Regular.ttf') format('truetype');
}

.App{
  height: 100%;
}

body {
  height: 100vh;
  overflow: hidden;
  font-family: 'Manrope', sans-serif;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.homepage {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.gtn-copilot {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  width: 600px;
  margin: 0 auto;
  background: linear-gradient(135deg, #fff, #D2E8F8);
  border: 1px solid #39228C;
  border-radius: 8px;
  overflow: auto;
}

.chat {
  margin-top: 4px;
  padding: 10px;
  overflow-y: scroll;
  max-height: 70vh;
}

.user {
  background-color: #0078d4;
  color: #fff;
  align-self: flex-end;
}

.bot {
  background-color: #f0f0f0;
  color: #000;
  align-self: flex-start;
}

.input-container {
  border: 1px solid #39218C;
  margin-top: auto;
  display: flex;
  padding: 5px;
  align-items: center;
  border-radius: 8px;
}

input[type="text"] {
  width: auto;
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 4px;
  outline: none;
  font-size: 16px;
}

button {
  padding: 5px 10px;
  background-color: #0078d4;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px;
}

.logo-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.copilot-logo {
  margin-top: 3%;
  width: 12%;
  height: auto;
}

.logo-text-container {
  width: 100%;
  align-items: center;
  text-align: center;
}

.copilot-description {
  font-size: 14px;
  color: #5b6064;
  margin-top: 5px;
  margin-bottom: 10px;
  padding: 0;
}

.btn-container {
  display: flex;
  justify-content: center; /* Center horizontally */
}

.option-buttons {
  width: 90%;
  display: flex;
  justify-content: space-between;
  padding: 5px;
  border: 1px solid  #425195;
  border-radius: 6px;
  background-color: #fff;
}

.option-button {
  flex: 1; /* Distribute width equally among all buttons */
  background-color: #fff;
  font-weight: bold;
  font-size: 16px;
  color: #000;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
  outline: none;
  padding-top: 2%;
  padding-bottom: 2%;
}

.option-button.selected {
  color: #fff;
  background: linear-gradient(135deg, #38BABE, #4F4D9E);
}


.btn-voice,.btn-send {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 22px;
  color: #4F4D9E;
}

.btn-voice:hover, .btn-send:hover {
  background: none;
  border: none;
  cursor: pointer;
  color: #000000;
}

@keyframes colorChange {
  0% {
    color: #38BABE; /* Initial color */
  }
  50% {
    color: #4F4D9E; /* Midpoint color */
  }
  100% {
    color: #38BABE; /* Back to the initial color */
  }
}

.btn-voice.listening {
  animation: colorChange 1s linear infinite; /* Adjust the duration as needed */
}

/* Common message styles */
.message {
  margin: 5px 0;
  padding: 8px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  word-wrap: break-word;
  width: auto !important;
  white-space: pre-line;
}

/* User message styles */
.message.user {
  background-color: #4F4D9E;
  align-self: flex-end !important;
  margin-left: auto;
  border-bottom-right-radius: 2px;
}

/* Bot message styles */
.message.bot {
  background-color: #f0f0f0;
  align-self: flex-start !important;
  margin-right: auto;
  border-bottom-left-radius: 2px;
  overflow-y: auto;
}

/* Max-content message style */
.message-max-content {
  width: max-content !important;
  white-space: nowrap !important;
}

/* Auto message style */
.message-auto {
  width: auto !important;
  word-wrap: break-word !important;
}

.message.bot-scroll {
  width: auto !important;
  white-space: nowrap !important;
  overflow-x: auto !important;
  max-width: 100% !important;
}

h2 {
  margin-top: 10px;
  margin-bottom: 0;
  padding: 0;
}

sup {
  font-size: 16px;
}

#input-field::placeholder {
  font-style: italic;
}

/* Track (the area of the scrollbar) */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Thumb (the draggable part of the scrollbar) */
::-webkit-scrollbar-thumb {
  background: #b5c6d1; /* Color of the thumb */
  border-radius: 8px;
}

/* Hovered Thumb */
::-webkit-scrollbar-thumb:hover {
  background: #a6b3bc; /* Color when hovered */
}


.custom-table {
  width: 100%;
  border-collapse: collapse;
  margin: 5px 0;
  font-size: 16px;
}

.custom-table th, .custom-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.custom-table th {
  background-color: #f2f2f2;
}

/* .custom-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.custom-table tr:nth-child(odd) {
  background-color: #ffffff;
} */

.loading-animation {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}

.spinner {
  border: 3px solid rgba(255, 255, 255, 0.3);
  border-top: 3px solid #4F4D9E;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  animation: spin 1.5s linear infinite;
}

.spinner-txt {
  padding-left: 10px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.switch {
  position: fixed;
  top: 10px;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.toggle-switch {
  width: 30px;
  height: 15px;
  background-color: #ccc;
  border-radius: 15px;
  position: relative;
  cursor: pointer;
}

.toggle-knob {
  width: 15px;
  height: 15px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  transition: transform 0.2s;
}

.toggle-switch.on {
  background-color: #4F4D9E; /* Background color when the switch is "on" */
}

.toggle-knob.on {
  transform: translateX(15px); /* Position the knob when the switch is "on" */
}

