.App{
  height: 100%;
}

body {
  height: 100vh;
  overflow: hidden;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.homepage {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.gtn-copilot {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 450px;
  margin: 0 auto;
  background: linear-gradient(135deg, #fff, #CAEFF0);
  border: 1px solid #39228C;
  border-radius: 8px;
  overflow: hidden;
}

.chat {
  padding: 10px;
}

.user {
  background-color: #0078d4;
  color: #fff;
  align-self: flex-end;
}

.bot {
  background-color: #f0f0f0;
  color: #000;
  align-self: flex-start;
}

.input-container {
  border: 1px solid #39218C;
  margin-top: auto;
  display: flex;
  padding: 5px;
  align-items: center;
  border-radius: 8px;
}

input[type="text"] {
  width: auto;
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 4px;
  outline: none;
  font-size: 16px;
}

button {
  padding: 5px 10px;
  background-color: #0078d4;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px;
}

.logo-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.copilot-logo {
  margin-top: 3%;
  width: 16%;
  height: auto;
}

.logo-text-container {
  width: 100%;
  align-items: center;
  text-align: center;
}

.copilot-description {
  font-size: 14px;
  color: #5b6064;
  margin-top: 5px;
  margin-bottom: 10px;
  padding: 0;
}

.btn-container {
  display: flex;
  justify-content: center; /* Center horizontally */
}

.option-buttons {
  width: 90%;
  display: flex;
  justify-content: space-between;
  padding: 5px;
  border: 1px solid  #425195;
  border-radius: 6px;
  background-color: #fff;
}

.option-button {
  flex: 1; /* Distribute width equally among all buttons */
  background-color: #fff;
  font-weight: bold;
  color: #000;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
  outline: none;
  padding-top: 3%;
  padding-bottom: 3%;
}

.option-button.selected {
  color: #fff;
  background: linear-gradient(135deg, #52ABA5, #39218C);
}


.btn-voice,.btn-send {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 22px;
  color: #39218C;
}

.btn-voice:hover, .btn-send:hover {
  background: none;
  border: none;
  cursor: pointer;
  color: #000000;
}

/* Common message styles */
.message {
  margin: 5px 0;
  padding: 8px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10px;
  word-wrap: break-word;
  width: auto !important;
}

/* User message styles */
.message.user {
  background-color: #39228C;
  align-self: flex-end !important;
  margin-left: auto;
  width: max-content !important;
  border-bottom-right-radius: 2px;
}

/* Bot message styles */
.message.bot {
  background-color: #f0f0f0;
  align-self: flex-start !important;
  margin-right: auto;
  width: max-content !important;
  border-bottom-left-radius: 2px;
}

h2 {
  margin-top: 10px;
  margin-bottom: 0;
  padding: 0;
}

#input-field::placeholder {
  font-style: italic;
}
